.box {
    display: inline-block;
    border-bottom: 1px solid lightgrey;
}

img {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.row {
    background-color: white;
    border-bottom: 5 solid lightgrey;
}

.colums {
    background-color: white;
    display: inline-block;
}

@font-face {
    font-family: Raleway;
    src: url("Raleway-VariableFont_wght.ttf") format("truetype");
  }

#studentName h1 {
    padding-top: 5px;
    font-family: Raleway;
    font-weight: bold;
    color: black;
    text-align: left;
}

#studentDetails li {
    text-align: left;
    margin-left: 2rem;
}

li {
    list-style: none;
} 
