.box {
    border-bottom: 1px solid lightgrey;
}

.box img {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: calc(30px + 7vw);
    width: calc(30px + 7vw);
}

.box .row {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    border-bottom: 5 solid lightgrey;
}

.row .colums {
    background-color: white;
}

@font-face {
    font-family: Raleway;
    src: url("../../container/Raleway-VariableFont_wght.ttf") format("truetype");
  }

#studentName h1 {
    white-space: nowrap;
    padding-top: 5px;
    font-family: Raleway;
    font-weight: bold;
    color: black;
    text-align: left;
    font-size: calc(10px + 2vw);
}

#studentDetails li {
    text-align: left;
    margin-left: 2rem;
    font-family: Raleway;
    font-size: calc(10px + 0.5vw);
}

li {
    list-style: none;
} 
